{{ define "main" -}}
<div class="title">
  <h2>{{ .Title }}</h2>
  {{ with .Params.Subtitle -}}
  <h3>{{ . }}</h3>
  {{ end -}}
</div>
<div class="content">
  {{ .Content -}}
</div>
<hr>
<div class="meta">
  {{ if .Date -}}
  <div>{{ .Date.Format "2006-01-02" }}</div>
  {{ end -}}
  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
  <div>
    {{ range .Param $taxo -}}
      {{ $name := . -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) -}}
    <span><a href="{{ .Permalink }}">#{{ $name }}</a></span>
      {{ end -}}
    {{ end -}}
  </div>
  {{ end -}}
  {{ if .Params.Github -}}
  <a href="{{.Params.Github}}">github</a>
  {{end -}}
</div>
{{ end -}}
